CONTACT
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css", href="public/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="company" placeholder="Company">
            <br>
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="contact" placeholder="Contact Number">
            <br>
            <textarea name="message" id="msg" cols="30" rows="10" placeholder="Enter your message here"></textarea>
            <br>
            <input type="submit" name="submit" value="Submit">
        </div>
    </div>
</body>
</html>